#home_url {
    left: 30px !important;
    position: fixed;
    top: 10px !important;
}
.toc   { font-size: 1.2em; font-weight: bolder;}

#page { margin: 0 auto;
    width: 900px;
    padding: 0px 18px 18px;
      }

#cv { margin: 0 auto;
    width: 900px;
}

.note { margin-left: 15px; background-color: rgb(255, 255, 225)
}

li{ margin-bottom: 6px}


a[href^="https://github.com"] {
    padding-left: 0px !important;

}
/* Header

-------------------------------------------------------------- */

#header { margin-top: 20px; }

#header .tabs { border-bottom: 1px solid #ddd; }
#header .tabs li { margin-right: 1px; }
#header .tabs a { padding: 5px 15px; background: #ddd; color: #666; text-decoration: none; }


/* Body
-------------------------------------------------------------- */

#body { margin-top: 20px; }

#introduction { float: left; width: 480px; margin-right: 130px; }

#resources { float: left; width: 230px; }
#resources h3 { color: #888; }
#resources ul, #resources ol { color: #888; }
#resources ul a { color: #555; }


/* Footer
-------------------------------------------------------------- */
#footer { border-top: 1px solid #eee; margin-top: 20px; }

#footer .tabs { width: 405px; border-top: 3px solid #eee; }
#footer .tabs a { padding: 10px 30px 10px 0; color: #666; text-decoration: none; }

#footer p.quiet { color: #ccc; }

#bn {display:none !important;}
#bt {display:none !important;}


/* Java code 
-------------------------------------------------------------- */
.s4{color:rgb(0,0,0);font-weight:normal;font-style:normal;}
.s12{color:rgb(0,0,0);font-weight:normal;font-style:italic;}
.s15{color:rgb(0,0,0);background-color:rgb(246,235,188);font-weight:normal;font-style:normal;}

.s5 {color:#808080;font-style:italic;font-weight:bold;}
.s7 {color:#808000;font-style:normal;font-weight:normal;}

.s2{color:rgb(128,128,128);font-weight:normal;font-style:italic;}

.s10{color:rgb(0,128,0);font-weight:bold;font-style:normal;}

.s1{color:rgb(0,0,128);font-weight:bold;font-style:normal;}
.s11{color:rgb(0,0,255);font-weight:normal;font-style:normal;}

.s3{color:#660E7A;font-style:italic;font-weight:bold;}
.s16{color:rgb(255,0,0);font-weight:normal;font-style:normal;}

.s17 {color:#000043;font-style:normal;font-weight:bold;}

/* Java code
-------------------------------------------------------------- */
#grass {
background-position: left bottom;
background-repeat: repeat-x;
bottom: 0;
height: 118px;
position: fixed;
width: 100%;
z-index: 5;
}

a[href^="cv.html"],a[href^="../en/cv_en.html"]{
    padding-left: 0px;
}

a[href^="mailto:"]{
    padding-left: 0px;
   }
